--
-- PostgreSQL database dump
--

\restrict 9t6cZ0iBschFcRC1kaEJjrtTacnOHpvJpBRZ4rGcxJSafzFQ2ofP4NRm9ry0bQH

-- Dumped from database version 17.10 (Debian 17.10-1.pgdg13+1)
-- Dumped by pg_dump version 17.10 (Debian 17.10-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: detections; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.detections (
    id character varying NOT NULL,
    image_path character varying,
    person boolean,
    confidence double precision,
    alarm boolean,
    created_at timestamp with time zone DEFAULT now(),
    device_id character varying
);


ALTER TABLE public.detections OWNER TO postgres;

--
-- Name: device_commands; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.device_commands (
    id character varying NOT NULL,
    device_id character varying NOT NULL,
    command character varying(100) NOT NULL,
    status character varying(20) NOT NULL,
    created_at timestamp without time zone NOT NULL,
    sent_at timestamp without time zone,
    completed_at timestamp without time zone
);


ALTER TABLE public.device_commands OWNER TO postgres;

--
-- Name: devices; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.devices (
    id character varying NOT NULL,
    device_id character varying(100) NOT NULL,
    device_name character varying(100) NOT NULL,
    secret_key character varying(255) NOT NULL,
    status character varying(20) NOT NULL,
    last_seen timestamp without time zone NOT NULL,
    firmware_version character varying(20) NOT NULL
);


ALTER TABLE public.devices OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id character varying NOT NULL,
    name character varying NOT NULL,
    email character varying NOT NULL,
    password character varying NOT NULL,
    role character varying,
    is_active boolean
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Data for Name: detections; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.detections (id, image_path, person, confidence, alarm, created_at, device_id) FROM stdin;
\.


--
-- Data for Name: device_commands; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.device_commands (id, device_id, command, status, created_at, sent_at, completed_at) FROM stdin;
cc56f1c00837473f8b0f8ff84f768b75	6bb1762eae5b4aa3a0ac68cc231b0f94	PUMP_ON	completed	2026-08-14 04:32:46.466504	2026-08-14 04:33:09.192044	2026-08-14 04:33:44.10539
97b210b667d843d99895732874e81898	6bb1762eae5b4aa3a0ac68cc231b0f94	PUMP_ON	sent	2026-08-14 09:13:37.790929	2026-08-14 09:15:54.221399	\N
46ae4194df3e4ecaa07d73bf8125d3a1	6bb1762eae5b4aa3a0ac68cc231b0f94	PUMP_ON	completed	2026-08-14 09:30:06.225741	2026-08-14 09:30:26.219986	2026-08-14 09:30:26.568409
\.


--
-- Data for Name: devices; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.devices (id, device_id, device_name, secret_key, status, last_seen, firmware_version) FROM stdin;
6bb1762eae5b4aa3a0ac68cc231b0f94	CAM001	Cow Shed Camera	5e4f0e5524d0232b46e3d2bb094b1254b9cc5d3bf360fe07e2da867ecf1ff824	online	2026-08-14 09:34:29.314386	1.0.0
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, name, email, password, role, is_active) FROM stdin;
98cd6f06-6ec6-4261-a144-3ba886e8410a	Admin	admin@humanguard.ai	$2b$12$QTbdiLGaOCDoddzhs/E1ZOk2VXEstI6uVvDFNg4mlF83hLou293Wq	admin	t
\.


--
-- Name: detections detections_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detections
    ADD CONSTRAINT detections_pkey PRIMARY KEY (id);


--
-- Name: device_commands device_commands_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device_commands
    ADD CONSTRAINT device_commands_pkey PRIMARY KEY (id);


--
-- Name: devices devices_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT devices_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_detections_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_detections_id ON public.detections USING btree (id);


--
-- Name: ix_device_commands_device_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_device_commands_device_id ON public.device_commands USING btree (device_id);


--
-- Name: ix_device_commands_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_device_commands_id ON public.device_commands USING btree (id);


--
-- Name: ix_devices_device_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_devices_device_id ON public.devices USING btree (device_id);


--
-- Name: ix_devices_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_devices_id ON public.devices USING btree (id);


--
-- Name: ix_devices_secret_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_devices_secret_key ON public.devices USING btree (secret_key);


--
-- Name: detections detections_device_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detections
    ADD CONSTRAINT detections_device_id_fkey FOREIGN KEY (device_id) REFERENCES public.devices(id);


--
-- Name: device_commands device_commands_device_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device_commands
    ADD CONSTRAINT device_commands_device_id_fkey FOREIGN KEY (device_id) REFERENCES public.devices(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 9t6cZ0iBschFcRC1kaEJjrtTacnOHpvJpBRZ4rGcxJSafzFQ2ofP4NRm9ry0bQH

